/* general styling */
* {
  text-align: center;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  background-color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.fullSpace {
  width: 100%;
  height: 100vh;
}

.Colonna {
  display: flex;
  flex-direction: column;
}

.Riga {
  display: flex;
  flex-direction: row;
}

.centered {
  justify-content: center;
  align-items: center;
}

.fullHeight {
  height: 100vh;
}
.responsiveImg {
  max-width: 80% !important;
  height: auto;
}

.iconSize {
  width: 4vw;
  height: 4vw;
}

.pointer {
  cursor: pointer;
}
