.App {
  width: 100%;
  height: 100vh;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App-description {
  color: #0c6b0c;
  font-size: 3.5vw;
}

.text {
  text-align: center;
}
.fullHeight {
  height: 100vh;
}

.responsiveImg {
  max-width: 80% !important;
  height: auto;
}

/*animation*/
.wave {
  animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
  animation-duration: 1s; /* Change to speed up or slow down */
  animation-iteration-count: infinite; /* Never stop waving :) */
  display: inline-block;
  padding: 0 !important;
  margin: 0;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(36deg);
  }
  20% {
    transform: rotate(72deg);
  }
  30% {
    transform: rotate(108deg);
  }
  40% {
    transform: rotate(144deg);
  }
  50% {
    transform: rotate(180deg);
  }
  60% {
    transform: rotate(216deg);
  }
  70% {
    transform: rotate(252deg);
  }
  80% {
    transform: rotate(288deg);
  }
  90% {
    transform: rotate(324deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
